<div class="row justify-content-md-center">
<div class="about-us">
<h1>Write a new Blog</h1>

<%= form_for @blog do |f| %>
  <%= f.label :Title %>:
  <%= f.text_field :title %><br />

  <%= f.label :Body %>:
  <%= f.text_area :body %><br />


  <%#= f.fields_for :gamplats do |gamplats_form| %>
    <%#= render 'gamplat_fields', f: gamplats_form %>
  <%# end %>

  <div>
    <%#= link_to_add_association 'Add New Platform', f, :gamplats %>
  </div>
  
  <%#= f.fields_for :game_gallaries do |gallary_form|  %>
    <%#= render 'game_gallary_fields', f: gallary_form %>
  <%# end %>

   <div>
    <%#= link_to_add_association 'Add New Gallery Item', f, :game_gallaries %>
  </div>

  <%= f.submit %>
<% end %>
</div>
</div>