<div class="row justify-content-md-center">
<div class="col-md-8 about-us" >

<%= form_for @portfolio do |f| %>
<div>
<%= f.label :Title %>:
<%= f.text_field :title %><br />
</div>

<div>
<%= f.label :Description %>:
<%= f.text_area :description %><br />
</div>

<div>
<%= f.label :URL %>:
<%= f.text_field :url %><br />
</div>
<div class="form-group">
	<%= f.label :main_image, "Main Image" %>
	<%= f.file_field :main_image %>
</div>

<div class="form-group">
	<%= f.label :thumbnail_image, "Thumbnail Image" %>
	<%= f.file_field :thumbnail_image %>
	<p>NOTICE: THUMBNAIL IMAGE SIZES ARE PLACED IN A 208x124 AREA, IF IMAGES UPLOADED ARE A DIFFERENT ASPECT RATIO THEY WILL BE DISTORED</p>
</div>
<div> <%= link_to_add_association 'Add Technology', f, :technologies %> </div>

<%= f.submit %>
<% end %>
</div>
</div>