<h1>You are in portfolios form</h1>

<%= form_for @portfolio do |f| %>
<%= f.label :Title %>:
<%= f.text_field :title %><br />

<%= f.label :Description %>:
<%= f.text_area :description %><br />

<div class="form-group">
	<%= f.file_field :main_image %>
</div>

<div class="form-group">
	<%= f.file_field :thumbnail_image %>
</div>

<%= f.submit %>
<% end %>